/* WhatsApp Desktop Dark mode by m4heshd */

/* macOS Styles */

:root {
    --dark: #272c35;
    --dark_alpha: rgba(39, 44, 53, 0.89);
    --darker: #1f232a;
    --bgcol: #101318;
    --light: #d1d1d1;
    --lighter: #e9e9e9;
    --accent: #5792ff;
    --accent2: #09d261;
    --icon: #e1e1e1;
    --shadow: rgba(0, 0, 0, 0.12);
    --mred: #dd3b4f;
    --mgreen: #70A352;
    --mblue: #527AA3;
    --msgout: #131a25;
}

/* Background doodle */
.app .fzCXy {
    filter: invert(100%) opacity(0.45) !important; }

/* Body reset. */
body {
    background: none;
    background-color: var(--bgcol); }

/* Scrollbar track. */
*::-webkit-scrollbar-track {
    background-color: var(--shadow); }
/* Scrollbar thumb. */
*::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2); }
/* Highlight selection. */
::selection {
    color: var(--light) !important;
    background-color: var(--accent) !important; }
::-moz-selection {
    color: var(--light) !important;
    background-color: var(--accent) !important; }
/* Input placeholders. */
::-webkit-input-placeholder {
    color: var(--lighter) !important; }

/* Progress. */
progress[value]::-webkit-progress-bar {
    background: var(--darker); }
/* Value. */
progress[value]::-webkit-progress-value {
    background: var(--accent); }

/* Editable input*/
div[contenteditable="true"] {
    color: var(--light) !important;
}

/* App wrapper. */
#app .app {
    background: none;
    background-color: var(--dark); }

/* Accent background. */
.app-wrapper::after {
    background: none !important; }


/* Log-in page. */
.landing-window {
    border: 1px solid var(--shadow);
    box-shadow: 0 8px 32px 0 var(--shadow) !important;
    background-color: var(--darker) !important; }
/* Text color. */
.landing-window * {
    color: var(--light); }
/* Top color stripe */
.landing-wrapper:before {
    background-color: var(--accent) !important; }
/* Reload QR code. */
.JPE1j {
    background-color: var(--darker) !important; }
/* Fix QR code. */
.landing-window ._2RT36 {
    border: 3px solid white !important; }
/* Tutorial. */
.landing-window > div:last-child {
    background-color: var(--darker); }
/* Tutorial icons */
._197vm > svg > rect {
    fill: var(--dark) !important;
}
/* Loader. */
#startup svg > circle {
    stroke: var(--lighter) !important; }

/* Disable background. */
._2U_Zc:before {
    display: none !important; }

/* Icon color. */
._1lmAJ span[class="_3PxOr"] > svg > path:first-child {
    fill: var(--dark) !important; }

span[class="_3PxOr"] > svg > rect {
    fill: var(--dark) !important; }

/* Landing page and Chat area */
#main, html[dir] ._1qNwV {
    /* box-shadow: 1px -3px 2px 0 var(--shadow) inset; */
    border: none;
    background-color: var(--dark); }
/* Status update. */
#app > div > div.app._1Jzz1.two > div._10V4p._1jxtm > div > div > div.HGVhc {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%; }
/* Text color. */
#app > div > div.app._1Jzz1.two > div._10V4p._1jxtm > div ._18W8t * {
    color: var(--light) !important; }
/* Accent bar. */
#app > div > div.app._1Jzz1.two > div._10V4p._1jxtm > div:after {
    border-top-color: var(--accent); }
/* Author info */
.mOuAM::after, ._357v7::after {
    display: block !important;
    margin-top: 17px;
    padding-top: 10px;
    content: "~ WhatsApp Desktop Dark Mode by m4heshd ~" !important;
    font-size: 20px;
    color: var(--accent);
    border-top: 1px solid var(--darker);
}

/* Left drawer. */
#app .app #side {
    background-color: var(--darker); }

/* Chat list. */
/* Chat header (settings buttons) */
#side > header {
    background-color: var(--darker) !important; }
/* Chat last message date/time */
._0LqQ {
    color: var(--light) !important;
}

/* Chat preloader */
._2sOZc {
    background-color: var(--darker) !important; }
.XqrVN {
    stroke: var(--accent) !important;
}

/* Notifications && more!! */
#side ._3YewW {
    box-shadow: inset 0 0 4px 0 var(--shadow);
    background-color: var(--accent) !important; }
/* Text color. */
#side ._3YewW .l2BEH * {
    color: var(--lighter); }

/* Search or start new chat. */
#side > div._2vikl {
    border-bottom: 0px solid var(--dark);
    background-color: var(--darker) !important;
    background-color: transparent !important; }
/* Label background. */
#side > div._2vikl .ZP8RM label,
.ZP8RM._19OGD,
.-peIt ._1AxuS .ZP8RM {
    border: 0px solid var(--dark);
    background-color: var(--dark) !important; }
/* Input element. */
#side > div._2vikl .ZP8RM label input {
    color: var(--light);
    background-color: transparent; }
/* Active. */
#side > div._2vikl .ZP8RM._19OGD {
    background-color: var(--dark) !important; }

/* New group and group info buttons. */
._2UaNq ._3vpWv ._3p0T6,
._2UaNq ._3vpWv ._3RWII {
    box-shadow: 0 0 8px -1px var(--shadow) !important;
    background-color: var(--dark) !important; }
/* Remove participant button */
._2ItjF ._1R9FX:hover {
    background-color: var(--accent) !important; }
/* Group members area */
.I72vi {
    background-color: var(--dark) !important; }
/* Group name accent border */
html[dir] ._5UNoc ._3hnO5 {
    border-bottom-color: var(--accent) !important; }

/* Join group via link info */
html[dir] .XOIaT {
    background-color: var(--dark); !important; }
html[dir] ._2Z5XD {
    background-color: var(--darker); !important; }

/* Search results. */
#side .r7sRK {
    color: var(--accent);
    background-color: var(--dark); }
/* Matching results. */
#side .matched-text {
    color: var(--accent) !important; }

/* Contacts wrapper. */
#side ._1RYPC, ._1KDYa ._70TS5 {
    background-color: transparent !important; }
/* Contacts. */
#side ._1RYPC ._2UaNq, ._1KDYa ._1w-mX {
    transition: 200ms ease-in-out;
    background-color: transparent !important; }
/* On event. */
html[dir] ._2UaNq._3mMX1,
html[dir] ._2UaNq:hover {
    background-color: var(--dark) !important; }
/* Text color. */
#side ._1RYPC [class*="_2WP9Q"] * {
    color: var(--light); }
/* Avatar wrapper background. */
._3RWII {
    box-shadow: 0 0 8px -1px var(--shadow) !important;
    background-color: transparent !important; }

/* New message indicator. */
#side .P6z4j {
    color: var(--accent) !important;
    background-color: var(--darker) !important;
    box-shadow: inset 0 0 0 2px var(--accent); }


/* Settings. */
._1KDYa {
    background-color: var(--darker) !important; }
/* Header color. */
._1KDYa header {
    min-height: 50px;
    /*height: auto;*/
    background-color: var(--darker) !important; }
/* Reset header height. */
._1KDYa header > div:first-child {
    padding: 12px 0 !important;
    height: auto; }
/* Reset header title in left/right drawers. */
._1KDYa ._1xGbt {
    margin-top: 2px !important;
    font-size: 16px; }
/* Transparent sections. */
._1KDYa ._2LSbZ {
    box-shadow: none !important;
    background-color: transparent !important; }
/* Highlighted sections. */
._1KDYa ._2TLLH ._26JG5,
._3UUn3 {
    background-color: var(--dark) !important; }
/* Change profile picture. */
._1KDYa ._1JS2G,
._1KDYa ._2Lbqu {
    background-color: rgba(0,0,0,0.5) !important; }
/* Modal footer and +/- buttons */
html[dir] ._22aOT, html[dir] ._1DKwn {
    background-color: var(--darker) !important; }
/* Editor backgroud */
html[dir] ._3979j {
    background-color: var(--dark) !important; }

/* Text color. */
._1KDYa *, .i1XSV._3Q3ui {
    color: var(--light);
}

/* Option/select elements. */
.Fzl83 select {
    border-color: var(--accent); }
.Fzl83 select option {
    background-color: var(--dark); }

/* Archived chat image. */
._1KDYa ._1i7uJ {
    background-color: var(--dark) !important; }

/* Body. */
._1KDYa .rK2ei ._26JG5,
._1KDYa .rK2ei ._2UaNq {
    background-color: transparent; }
/* On event. TODO: Fixed, but it might still overlap somewhere. */
._3kF8H .rK2ei > ._26JG5:hover,
._1KDYa .rK2ei ._26JG5:hover {
    background-color: var(--dark); }

/* New chat section. */
._1KDYa .ZP8RM label {
    border: none;
    background-color: var(--dark); }
/* Input element. */
._1KDYa .ZP8RM label input {
    background-color: transparent; }

/* New group. */
._1KDYa ._11p3Q {
    background-color: transparent !important; }
/* Header. */
._1KDYa .r7sRK {
    background-color: var(--darker) !important; }
/* On event. */
._3kF8H ._1KDYa ._2UaNq._3mMX1,
._3kF8H ._1KDYa ._2UaNq:hover {
    background-color: var(--dark) !important; }
/* Search element */
._1w-mX ._39cGk {
    border-bottom: 1px solid var(--accent) !important; }
._1w-mX ._39cGk input, ._1w-mX ._39cGk ::placeholder {
    color: var(--lighter) !important; }

/* Dropdown menu. */
._2hHc6, ._1ArIP {
    box-shadow: 0 2px 8px 0 var(--shadow), 0 2px 16px 0 var(--shadow) !important;
    background-color: var(--darker) !important; }
/* On event. */
._2hHc6 li:hover, ._2hHc6 li._28zBA {
    background-color: var(--dark) !important; }
html[dir] ._3BqnP._3VXiW  {
    background-color: var(--dark) !important; }
/* Text color. */
._2hHc6 div, ._1ArIP div {
    color: var(--light); }

/**********VIEW PROFILE PICTURE************/
html[dir] ._1iNsf {
    background-color: var(--dark_alpha) !important;
}
html[dir] ._2UaNq, html[dir] .s4BtI {
    background-color: var(--darker) !important;
	height: 72px;
}
/*Settings prof pic*/
html[dir] ._2UaNq._3fAgu {
	height: auto !important;
}

/* Middle drawer. */
.app ._2rI9W .NuujD {
    background-color: var(--dark); }
/* Doodle background. TODO: Plans for the future. */
/*[[doodles]]*/

/* Jump to present button. */
._3KRbU {
    box-shadow: 0 4px 8px 2px var(--shadow) !important;
    background-color: var(--darker) !important; }
/* Number of messages. */
._3KRbU .P6z4j {
    background-color: var(--accent) !important; }

/* Header. */
#main header {
    border: none;
    background-color: var(--darker);
    box-shadow: 0px 0px 3px 0px var(--accent); }
/* Text color. */
#main header ._2F-NA * {
    color: var(--light); }

/* Footer. */
#main footer {
    background-color: var(--darker); }
/* Input wrapper. */
#main footer > div {
    color: var(--light);
    border: none;
    border-top: 1px solid var(--darker);
    background-color: var(--dark); }
/* Input element. */
#main footer > div:nth-child(1) > div:nth-child(2) {
    border: none !important;
    color: var(--light);
    background-color: var(--darker) !important; }
/* Voice/Video message duration. */
._1lxsr, ._2HHbr {
    color: var(--light) !important; }

/* Unknown contact. */
._2Pown {
    border-color: var(--darker) !important;
    background-color: var(--dark) !important;
    box-shadow: 0 0px 8px 2px var(--shadow) !important; }
/* Buttons. */
._2Pown ._2ZZub {
    color: var(--light) !important;
    background-color: var(--darker) !important; }
/* Dark mode switch */
span[data-icon="dark-switch"] > svg > path:first-child {
    fill: var(--accent) !important;
    opacity: 0.8 !important; }

/* Send contact to & Shared contact */
._36ApL, ._1VwzF {
    background-color: var(--dark) !important; }
/* Shared multiple contacts preview */
._3B8lS {
    color: var(--light) !important; }
/* Shared contact button colors. */
.b332w {
    color: var(--accent) !important; }
/* Shared contact text. */
.AVd_p {
    color: var(--lighter) !important; }
/* View contact. */
._36ApL {
    background-color: transparent !important; }

/* Live Location */
._2ofvs {
    color: var(--light) !important; }

/* Hide 'Type a message' once focused. */
._3F6QL._2WovP.focused ._39LWd {
    color: transparent; }
/* Placeholder text color. */
._39LWd {
    color: var(--lighter) !important; }
/* On event smoothness. */
.pluggable-input.pluggable-input-compose > div:first-child {
    transition: 150ms ease-in-out !important; }

/* Recording duration */
._2NdXo {
    color: var(--light) !important;
}


/* Right drawer. */
.app ._1C9rS ._1KDYa {
    background-color: var(--darker); }
/* Border-color. */
.app ._1C9rS {
    border-left-color: transparent !important; }
/* Header. */
.app ._1C9rS ._1KDYa header {
    background-color: var(--darker); }
/* Text color. */
.app ._1C9rS ._1KDYa header div {
    color: var(--light); }

/* Group info sections. */
.app ._1C9rS ._1KDYa ._2LSbZ {
    /*box-shadow: 0 1px 3px shadow /**/
    box-shadow: none;
    background-color: transparent; }
/* Group name. */
.app ._1C9rS ._2LSbZ ._3hnO5, .media-body .CzI8E {
    margin-bottom: 10px;
    color: var(--light);
    border-bottom: 2px solid var(--accent) !important; }
/* Unknown User's name. */
html[dir=ltr] ._1F9Ap {
    color: var(--light) !important;
}
/* Known user's name */
._1QjgA > ._F7Vk {
    color: inherit;
}
/* User's name. */
.app ._1C9rS .copyable-text, ._19vo_, ._3H4MS {
    color: var(--light) !important; }
/* Accent color text. */
.app ._1C9rS ._2LSbZ ._3he1q {
    font-weight: 400;
    color: var(--accent) !important; }
/* Mute/Starred Messages. */
.app ._1C9rS ._2LSbZ ._3LL06 {
    color: var(--light) !important; }

/* Group options. */
.app ._1C9rS ._2LSbZ ._2UaNq,
.app ._1C9rS ._2LSbZ ._26JG5 {
    transition: 200ms ease-in-out;
    background-color: transparent; }
/* On event. */
.app ._1C9rS ._2LSbZ ._2UaNq._3xj48:hover,
.app ._1C9rS ._2LSbZ ._26JG5:hover {
    background-color: var(--dark); }
/* Text color. */
.app ._1C9rS ._2LSbZ ._2UaNq * {
    color: var(--light); }
/* Admin color. */
html[dir] .FPZFa {
    border: 1px solid var(--accent) !important; }


/* Search messages. TODO: Apply this to all search elements. */
._1C9rS ._1iMEz, .a5vst /*, ._1C9rS ._1iMEz._19OGD*/ {
    background-color: var(--darker) !important; }
/* Input wrapper. */
._1iMEz label {
    border: 0px solid var(--dark) !important;
    background-color: var(--dark) !important; }
._1iMEz ._19OGD label {
    background-color: transparent !important; }
/* Input element. */
._1iMEz label input {
    background-color: transparent !important; }

/* Search messages body. */
._1Kstu {
    background-color: var(--darker) !important; }
/* Matching results. */
._1C9rS .matched-text {
    color: var(--accent) !important; }
/* On event. */
._1Kstu ._3mMX1 > ._2WP9Q,
._1Kstu ._2WP9Q:hover {
    background-color: var(--dark) !important; }

/* Search messages. */
#pane-side {
    background-color: transparent !important; }

/* Starred messages. */
._1C9rS .BfrqJ, .BfrqJ {
    background-color: var(--dark) !important; }
/* On event. */
.starred-msg-wrapper, ._1WMT2 {
    transition: 200ms ease-in-out !important; }
/* On event. */
._1WMT2._2nA3s {
    background-color: var(--dark) !important; }

._1WMT2._1lakC, ._1WMT2._2V_Wj {
    background-color: var(--darker) !important; }


/* Message info. */
._2rGVQ {
    background-color: var(--dark) !important; }
/* Doodle image. */
._2rGVQ .pane-chat-tile {
    filter: invert(100%) opacity(0.8); }
/* Read by. */
html[dir] ._2AJf5, html[dir] ._19xqi {
    background-color: var(--dark) !important; }
/* Forwarding info */
html[dir=ltr] ._2aUit {
    background-color: var(--darker) !important;
    border-top: 1px solid var(--dark) !important;
}
/* Forwarding info x selected */
html[dir=ltr] .nGgVY {
    color: var(--light) !important;
}

/* Media/docs/links section. */
html[dir] ._27U_m {
    background-color: var(--darker) !important; }
/* Active indicator. */
html[dir] ._27U_m:before {
    background-color: var(--accent) !important; }
/* Selection Header. */
html[dir] ._2XHj8 {
    background-color: var(--accent) !important; }
/* Selected image. */
.P85aN ._3xJ94 {
    border-color: var(--accent) !important; }
/* Selected links. */
.D6ZWG {
    background-color: var(--darker) !important; }
/* Text color. */
.D6ZWG ._1S4i5,
._2Mvo8.fyJXn {
    color: var(--lighter); }
/* Link preview */
._2nZ2E.HNuTV, .Lhd3q.HNuTV {
    background-color: var(--bgcol) !important; }
._3JxFB, ._23MBZ {
    color: var(--light) !important; }
._2IHkF {
    color: var(--lighter) !important; }

/* Media viewer. */
#app ._1zcz2, ._2KgjI {
    background-color: rgba(0,0,0,0.85) !important; }
/* Chevron background. */
._3yth3 {
    background-color: var(--darker) !important; }
/* Preloader. */
._3dGYA {
    background-color: var(--darker) !important; }
/* Border */
html[dir] ._2n0jo {
    border-top: solid 1px var(--accent) !important;
    background: var(--darker) !important;
}

/* Header. */
#app ._1zcz2 ._2YdsD, ._2KgjI .cGLoy {
    background-color: var(--darker) !important; }
._2UaNq._1k-OW.ROigK {
    height: 60px !important;
}
/* Inner element. */
#app ._1zcz2 ._2UaNq {
    background-color: transparent !important; }
/* Text color. */
#app ._1zcz2 ._2UaNq ._2WP9Q *,
._2KgjI ._12oAB,
.cGLoy * {
    color: var(--light); }
/* Footer. */
._2AP3i {
    border: none !important;
    background-color: var(--darker) !important; }
/* Selected image. */
._2AP3i .cJP5q {
    transform: scale(1) !important;
    border: 3px solid var(--accent) !important }
html[dir=ltr] ._1LdNS:hover:not(.cJP5q) {
    border: 0px solid var(--accent);
    outline: 3px solid var(--accent) !important; }


/* Message bubbles. */
html[dir] .message-in ._2Wx_5, .message {
    background-color: var(--darker) !important; }
html[dir] .message-out ._2Wx_5 {
    background-color: var(--msgout) !important; }
/* Deleted messages */
._3uHCS, ._2v02G {
    color: var(--light) !important;
    opacity: 0.70;
}

/* File messages (shared files) */
html[dir] ._3cukQ ._1mrMQ, html[dir] ._1o6AT ._1mrMQ {
    background-color: var(--dark) !important;
}
._1NeOh, ._1o0MN, ._1o6AT ._35Zop:before {
    color: var(--light) !important;
}

/* Message text color. */
.message-in .selectable-text,
.message-out .selectable-text,
.quoted-mention,
._1upWv {
    color: var(--light) !important; }

/* Message link text color */
.message-out .selectable-text a,
.message-in .selectable-text a {
    color: var(--accent) !important;
}

/* Forwarded message. */
._8fE-g {
    color: var(--lighter) !important; }

/* Phone numbers of users that aren't your contacts. */
._3Ye_R._1wjpf._1OmDL {
    color: var(--lighter) !important; }

/* Mentions. */
.message-in .matched-mention ,
.message-out .matched-mention,
span[data-mention-jid],
span[data-mention-jid] > span {
    color: var(--accent) !important; }
.at-symbol {
    color: inherit !important; }

/* Message meta text color. */
[class*="message-"] ._3wVZ5 *, [class*="message-"] ._3wVZ5 *,
[class*="message-"] ._1DI_4 *, [class*="message-"] ._27K_5 *,
[class*="message-"] ._3MYI2 *, [class*="message-"] ._3cMIj * {
    color: var(--light); }

/* Image/gif/video meta wrapper. */
.BmK5Q ._3MYI2 {
    bottom: 8px;
    padding: 2px 5px;
    border-radius: 4px;
    background-color: var(--shadow); }
/* Text color. */
.BmK5Q ._3MYI2 ._3EFt_ {
    margin-top: 0px;
    color: var(--lighter); }

/* Message options. */
._15CAo {
    /*transition: 200ms ease-in-out;/**/
    background: linear-gradient(to right, transparent 0%, var(--darker) 40%) !important; }
.message-out ._15CAo {
    /*transition: 200ms ease-in-out;/**/
    background: linear-gradient(to right, transparent 0%, var(--msgout) 40%) !important; }
/* Smooth transition. */
.message span:last-child div {
    transition: 50ms ease-in-out !important; }

/* Typing... */
._2ZAIy {
    color: var(--accent) !important; }

/* System messages. */
.a7otO {
    box-shadow: 0 2px 8px 0px var(--shadow) !important;
    border-bottom: 3px solid var(--shadow) !important;
    background-color: var(--darker) !important; }
/* Text color and shadows. */
.a7otO * {
    text-shadow: none !important;
    color: var(--lighter) !important; }
/* New message. */
#main ._3Xx0y {
    border: none !important;
    background-color: transparent !important; }
/* X unread messages. */
#main ._3Xx0y ._1lo-H {
    box-shadow: 0 0 8px 0 var(--shadow) !important;
    color: var(--light) !important;
    background-color: var(--darker) !important; }


/* Document embeds. */
._1vKRe {
    border-color: var(--darker) !important; }
/* Embed background. */
._12xX7 {
    background-color: var(--dark) !important; }
/* Embed text color. */
._12xX7 * {
    color: var(--light); }

/* Link embeds. */
._1sGGp._1SsXF, ._1AUdd._1SsXF, ._3qblR._1SsXF {
    background-color: var(--dark) !important; }
/* Text color. */
._1sGGp._1SsXF *, ._3qblR._1SsXF *, ._1AUdd._1SsXF * {
    color: var(--light); }
/* Link options. */
._2Nkc4._3WZEQ, ._1ykUM._3WZEQ {
    background: none !important; }
/* Link without thumbnails. */
html[dir] ._3_nIn {
    background-color: var(--darker) !important;
}

/* Quoted reply message */
html[dir] .message-in ._2HTIU, html[dir] .message-out ._2HTIU {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

/* Reply section. (= */
footer ._1ebw2 {
    box-shadow: 0 0px 8px 0 var(--darker) !important;
    background-color: var(--darker) !important; }
/* Fix margins. */
footer ._1ebw2 > div:first-child {
    margin: 0 0 5px 10px !important;
    background-color: transparent !important; }
/* Reply content. */
footer ._1ebw2 > div:first-child > div {
    background-color: var(--dark) !important; }
/* Close button. */
footer ._1ebw2 > div:last-child {
    position: relative;
    margin: 0 8px 5px 8px !important;
    background-color: transparent !important; }
/* Make the button larger. */
footer ._1ebw2 > div:last-child > div svg {
    padding: 18px;
    border-radius: 6px;
    background-color: var(--dark); }

/* Mention group members. */
.Uukb4, ._1Yz8K.XSeqj {
    color: var(--light);
    border-left: none !important;
    background-color: var(--darker) !important;
    transition: 300ms ease-in-out !important; }

._2j-wI {
    border: none !important;
    background-color: var(--darker) !important; }

._1Yz8K.XSeqj {
    background-color: var(--dark) !important; }

.matched-text {
    color: var(--accent); !important;
}

/* Group message colon after sender's name*/
.xD91K {
    color: var(--light) !important;
}

/* Wrapper. */
.Uukb4 ._3v_lq {
    transition: 300ms ease-in-out !important;
    background-color: transparent !important; }
/* Active. */
.Uukb4 .j5Hcb._3v_lq,
.Uukb4 ._3v_lq:hover {
    background-color: var(--darker) !important; }

/* Select messages. */
#main ._2AqZl {
    background-color: var(--shadow); }
/* Hover over messages. */
#main ._1o1sm {
    transition: 100ms ease-in-out !important; }
/* Selected message. */
#main ._1o1sm:hover, #main ._1o1sm._2nOMz {
    background-color: var(--shadow) !important; }

/* Selected icon. */
#main ._15wNI {
    border-color: var(--accent) !important;
    /*background-color: var(--accent) !important; */
}
/* Checkmark. */
#main ._15wNI ._3KRSo {
    border-bottom-color: var(--accent);
    border-right-color: var(--accent); }

/* Footer/control/options. */
#main ._1hhkM, #main ._3PWNn, #main ._2-Uk7 {
    background-color: var(--darker); }
/* Text color. */
#main ._1hhkM span, #main ._2-Uk7 {
    color: var(--light); }



/* Bubble tails -- experimental. */
.tail .tail-container {
    width: 0px !important;
    height: 10px !important;
    z-index: 0 !important;
    border-top: 12px solid var(--darker);
    background: none !important; }
.message-in .tail-container {
    left: -10px !important; top: 0px;
    border-left: 10px solid transparent;
    border-radius: 5px 0 0 0; }
.message-out .tail-container {
    right: -10px !important; top: 0px;
    border-right: 10px solid transparent;
    border-top: 12px solid var(--msgout);
    border-radius: 0 5px 0 0; }

/* Disable tails everywhere. */
/*[[tails]]*/

/* Disable tails everywhere except in chat. */
.starred-msg-wrapper .tail-container,
.message-gallery .tail-container,
._1WMT2 .tail-container {
    display: none !important; }
/* Rounded corners. */
.message-gallery.tail-override-left,
._1WMT2 .tail-override-left {
    border-radius: 7.5px !important; }

/** Stickers. */
.PJFFv, .a81-s {
    background: none !important; }
._1j7jW {
    display: none !important; }
/* Sender. */
._2Hp95 ._3Mf7Z, html[dir] ._3tMyP {
    background-color: var(--darker) !important; }
/* Time/status. */
._2Hp95 ._3qAvH {
    background-color: var(--darker) !important; }
/* Reset message menu. */
._36oqf {
    top: 0 !important;
    right: 0 !important;
    background: none !important; }
/* Icon background. */
.YiYMT { background-color: transparent !important; }

/* Temporary fix for emoji container. */
#main footer > div:nth-child(2) > div {
    border: 0; }
/* Emoji/gif/stickers background. */
._1mJO-, ._20KNO, ._3b3vC, ._3LFRS > .RxbUw {
    background-color: var(--dark) !important; }

/* Emoji menu. */
.DWACj .Sbkt2,
.DWACj .Sbkt2 > span > div,
._3ETD3, .R0lQ6 {
    background-color: var(--dark) !important; }
/* Emoji tabs. */
.DWACj ._2ByZq,
.DWACj ._2avTY,
._2avTY {
    background: var(--darker) !important; }
/* Tab indicator. */
._2NQtS,
.YbzIC .YGHyX,
.Orl3a {
    background-color: var(--accent) !important; }
/* Active button. */
._1x_c3.bRYFY path {
    fill: var(--accent) !important; }
/* Sticker drawer scroll arrow */
html[dir] ._26IFT {
    background-color: var(--darker) !important; }
/* Emoji categories */
._2lKjK {
    color: var(--light) !important;
}

/* Search emojis. */
.DWACj label,
._2Qm0c,
._2hMsh {
    background-color: var(--dark) !important; }
/* Search emojis using ":" */
html[dir] ._2mlOb, html[dir=ltr] ._2mlOb {
    background-color: var(--darker) !important; }
html[dir=ltr] ._2mlOb {
    border-left: 1px solid var(--darker) !important; }
/* Text color. */
.DWACj label input,
._2hMsh input,
._3wfs2,
._3Ztfl {
    color: var(--light) !important; }

/* Gif preloader background. */
.zl5TR {
    /* border: 2px dashed ; */
    background-color: var(--darker) !important; }

/* Preview. */
.kqC9O {
    background-color: var(--dark) !important; }
/* Header. */
.kqC9O header {
    background-color: var(--accent) !important; }
/* Text color. */
.kqC9O header *, .kqC9O .media-body * {
    color: var(--lighter) !important; }
/* Footer. */
.kqC9O .media-collection {
    background-color: var(--darker); }
/* Button. */
.kqC9O .media-collection .btn-fill, .kqC9O ._1g8sv {
    color: var(--lighter);
    background-color: var(--accent) !important; }


/* Emoji-wanna-be-round. */
/*  .emojik {
    opacity: var(--emojiOpacity);
    transition: transform 200ms cubic-bezier(0.59, 0.57, 0.39, 1.04);
    clip-path: circle(47%) !important; }*/
/* Selected emoji. */
.emojik:focus, .emojik:hover, .emojik.selected {
    box-shadow: none !important;
    opacity: 1;
    transform: scale(1.15); }

/* Emoji quick selection. */
._1k6Uw {
    border: 0 !important;
    border-bottom: 1px solid var(--darker) !important;
    background-color: var(--darker) !important; }
/* Emoji race color popup. */
html[dir] ._1gFYk {
    background-color: var(--darker); }
/* Separator. */
html[dir=ltr] ._1sHYl:first-child {
    border-right: 2px solid var(--accent) !important; }
/* Emoji menu triangle. */
html[dir] ._1gFYk .iqJMX {
    background-color: var(--darker) !important; }



/* Backdrop. */
._3Fq9Y, #startup, #initial_startup {
    background-color: var(--dark_alpha) !important; }
/* Modal. */
._3Fq9Y .-peIt ._3RiLE,
.-peIt ._18wuJ, .-peIt .IuYNx {
    box-shadow: 0 0 0 1px var(--darker), 0 8px 16px 0px var(--shadow) !important;
    background-color: var(--darker) !important; }
/* Selected contact. */
._3Fq9Y ._2UaNq._3mMX1,
._3Fq9Y ._2UaNq:hover,
._2UaNq.s49Nq:hover {
    background-color: var(--dark) !important; }
/* Text color. */
._3Fq9Y ._3RiLE * {
    color: var(--light); }
/* Header/footer. */
.-peIt header,
.-peIt .iHLo1 {
    background-color: var(--darker) !important; }
._2-yrI ._22oFl {
    background-color: var(--dark) !important; }
/* Empty element below search bar. */
._1KDYa span._3fOoY {
    display: none !important; }
/* Search result info */
._F7Vk {
    color: var(--light);
}


/* Buttons. */
._3PQ7V, ._1g8sv, ._2Gki6, ._2MNzO {
    color: var(--lighter) !important;
    background-color: var(--accent) !important; }
/* Muted checkbox color. */
._15wNI {
    border-color: var(--accent);
    background-color: transparent; }
/* Buttons. */
._3PQ7V:hover, ._2eK7W:hover {
    background-color: var(--dark) !important; }

/* Drop items. (-: */
.drag-drop, .lC2xi {
    background-color: var(--dark) !important; }
/* Footer. */
.NeQRT {
    background-color: var(--darker) !important; }
/* Border. */
.lC2xi ._8C3uJ {
    border: 5px dashed var(--accent) !important;
    color: var(--light) !important; }

/* Add file icon. */
._2sn3C, ._3fktq {
    background-color: var(--dark) !important; }
/* Border. */
._1gcLL::after {
    background-color: var(--accent) !important; }

/* Accent border. */
.CzI8E, ._2Fvnm ._3ogpF {
    border-bottom-color: var(--accent) !important; }
/* Text color. */
._7HWvs {
    color: var(--light) !important; }



/* Status area! */
.app-wrapper-web ._3sacU {
    background-color: rgba(0,0,0,0.6) !important; }
/* Contact names */
html[dir] ._2UaNq._2t0gn {
    background-color: transparent !important;
}

/* Normal icon. */
span[data-icon="status-v3"] > svg > path:first-child {
    opacity: 0.55 !important; }
/* Unread status. */
span[data-icon="status-v3-unread"] > svg > path:first-child {
    opacity: 1 !important; }

/* Status modal! */
/*.app-wrapper-web ._1abwg {
  max-width: 1396px;
  height: calc(100% - 36px);
  margin-left: auto;
  margin-right: auto;
  top: 20px; }/**/

/* Left hand side. */
._3sacU .bZ3B9 {
    background-color: var(--darker) !important; }
/* Text color. */
._3sacU .bZ3B9 ._35Ai0,
._3sacU .bZ3B9 ._1wjpf {
    color: var(--lighter) !important; }
/* Dimmed text. */
._3sacU .bZ3B9 ._3_-c_,
._3sacU .bZ3B9 ._1Ou9Y,
._3sacU .bZ3B9 ._itDl {
    color: var(--light) !important; }

/* Right hand side. */
._3sacU ._1abwg {
    background-color: var(--dark) !important; }
/* Text color. */
._3sacU ._1abwg ._2LuDL {
    color: var(--light); }

/* Reply to status. */
.QRsOy {
    border-radius: 5px !important;
    background-color: var(--dark) !important; }



/* REMOVE STUFF. */
/* Remove pseudo elements. */
[class*="chat"]:before, [class*="chat"]:after,
.ZP8RM:after, ._26JG5:before, ._2rNOJ:after,
._1WMT2:before, ._1WMT2:after, ._2DxRd {
    display: none !important; }
/* Remove ONLY borders. */
._26JG5 ._27Ie2, ._3_-Si ._2x2XP,
html[dir] ._2UaNq:after, ._2WP9Q,
._1fkhx, .chat-body, ._2TLLH, ._2nmDZ {
    border: none !important; }
/* Some random iframe? */
object { display: none !important; }



/* Global icon color. */
span:not([data-icon="image"]) > svg > path {
    transition: 200ms ease;
    fill: var(--icon) !important; }
/* On event. */
span:not([data-icon="image"]):hover > svg > path {
    /* fill: var(--accent) !important; */
    opacity: 0.3 !important; }
/* Selection check circle */
span[data-icon="checkbox-round-checked"] svg circle{
    fill: var(--accent) !important; }

/* Upload files. */
.GK4Lv::after {
    box-shadow: 0 1px 2px var(--shadow), 0 4px 8px var(--shadow) !important; }

/* Default profile picture background. */
span[data-icon="default-user"] svg > path:first-child,
span[data-icon="default-group"] svg > path:first-child,
span[data-icon="default-broadcast"] svg > path:first-child {
    fill: var(--dark) !important; }

span[data-icon="default-user"] svg > g > path:last-child,
span[data-icon="default-group"] svg > path:last-child,
span[data-icon="default-broadcast"] svg > path:last-child {
    opacity: 0.7;
    fill: var(--icon) !important; }

/*  Sent message. */
span[data-icon="msg-dblcheck"] svg path,
span[data-icon="status-dblcheck"] svg path,
span[data-icon="msg-check"] svg path,
span[data-icon="status-check"] svg path {
    fill: var(--light) !important;
    opacity: 0.5 !important; }

/* Sent AND seen message. */
span[data-icon="msg-dblcheck-ack"] svg path,
span[data-icon="status-dblcheck-ack"] svg path,
span[data-icon="msg-dblcheck-ack-light"] svg path,
span[data-icon="status-v3-unread"] > svg > path:last-child,
span[data-icon="msg-dblcheck"].Ryz_m svg path,
._1t84_ span svg path {
    fill: var(--accent) !important;
    opacity: 1 !important; }

/* Misc icons fix. */
span[data-icon="chevron-left"] svg path,
span[data-icon="chevron-right"] svg path,
span[data-icon="x-viewer"] svg path,
span[data-icon="download"] svg path,
span[data-icon="forward"] svg path,
span[data-icon="star-btn"] svg path,
span[data-icon="audio-file"] svg path:last-child,
span[data-icon="new-group"] svg path,
span[data-icon="add-user-light"] svg path,
span[data-icon="link"] svg path,
span[data-icon="pinned"] svg path,
span[data-icon="ptt-in-blue"] svg path:first-child,
span[data-icon="ptt-out-blue"] svg path:first-child{
    fill: var(--icon) !important; }

/* Audio message icons. */
span[data-icon="ptt-in-green"] svg path:first-child,
span[data-icon="ptt-in-blue"] svg path:first-child,
span[data-icon="ptt-out-blue"] svg path:first-child,
span[data-icon="ptt-out-gray"] svg path:first-child {
    fill: var(--darker) !important; }
span[data-icon="ptt-out-blue"] > svg > path,
span[data-icon="ptt-in-blue"] > svg > path,
span[data-icon="status-ptt-blue"] > svg > path {
    fill: var(--accent) !important;
}

/* Logo. */
._197vm > svg > path:first-child {
    fill: var(--accent) !important; }
span[data-icon="logo"] svg path:nth-child(1) {
    fill: white !important; }
span[data-icon="alert-phone"] svg path:first-child,
span[data-icon="logo"] svg path:nth-child(1n+2),
span[data-icon="whatsapp-logo"] svg path:first-child {
    fill: var(--darker) !important; }

/* GIF icon opacity. */
span[data-icon="emoji-gifs"] svg path {
    fill: var(--icon) !important;
    fill-opacity: 1 !important; }

/* Be cautious icons. */
span[data-icon="exit"] svg path,
span[data-icon="thumbs-down"] svg path,
span[data-icon="recalled-in"] svg path,
span[data-icon="status-miss"] svg path,
span[data-icon="miss"] svg path,
span[data-icon="recalled-out"] svg path {
    fill: var(--mred) !important; }

/* Audio message. */
span[data-icon="audio-file"] svg path {
    fill: rgba(255, 173, 31, 0.8) !important; }
/* Audio length bar. */
html[dir] ._2PmJH ._1N8Pv, html[dir] ._38Akx._2gO-- ._1N8Pv {
    background-color: var(--accent) !important; }
/* Slider thumb. */
input[type=range]::-webkit-slider-thumb {
    cursor: pointer;
    background: var(--accent) !important; }
html[dir] ._38Akx ._30LFW::-webkit-slider-runnable-track, html[dir] ._2PmJH ._30LFW::-webkit-slider-runnable-track {
    background-color: var(--light) !important; }

/* Rounded buttons. */
span svg > path[fill="#00BFA5"] {
    fill: var(--accent) !important; }

/* Fix white middle border on smaller resolutions*/
@media screen and (max-width: 1024px) {
    html[dir=ltr] .three ._1mseJ {
        border-left-color: var(--dark);
    }
}